.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  user-select: none;
}

.avatarImg {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  object-fit: cover;
}
