.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
  max-width: 840px;
  margin: 0 auto;
  width: 100%;
  font-family: Google Sans, sans-serif;
}

.header {
  margin-bottom: 2rem;
}

.title {
  color: rgb(255, 255, 255);
  font-size: 1.875rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.leftControls {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.locationButton {
  background-color: #00687d;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 9px;
  font-size: 0.875rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.locationButton:hover {
  background-color: #015b6d;
}

.filterButton {
  background-color: #303134;
  color: #d1d5db;
  padding: 0.5rem;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filterButton:hover {
  background-color: #3c4043;
}

.locationInfo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #9ca3af;
  font-size: 0.875rem;
}

.infoLink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #9ca3af;
  font-size: 1rem;
}
.infoLink:hover {
  text-decoration: underline;
  color: #ffffff;
}

.newsList {
  
  display: flex;
  flex-direction: column;
  background-color: #131314;
  border-radius: 0.5rem;
  overflow: hidden;
}

.newsItem {

  background-color: transparent;
  border-radius: 0;
  padding: 1.5rem;
  cursor: pointer;
  transition: background-color 0.2s;
  border-bottom: 1px solid #404144;
  margin-bottom: 0;
}

.newsItem:last-child {
  border-bottom: none;
}

.newsItem:hover {
  background-color: #3c4043;
}

.newsContent {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1.5rem;
}

.newsText {
  flex: 1;
  min-width: 0;
}

.sourceInfo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.75rem;
}

.sourceIcon {
  width: 1rem;
  height: 1rem;
  background-color: #3b82f6;
  border-radius: 0.125rem;
  flex-shrink: 0;
  object-fit: cover;
}

.sourceName {
  color: #9ca3af;
  font-size: 0.875rem;
  font-weight: 500;
}

.newsTitle {
  color: white;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1rem;
  transition: color 0.2s;
}

.newsItem:hover .newsTitle {
  color: #60a5fa;
}

.newsTime {
  color: #6b7280;
  font-size: 0.875rem;
}

.newsImage {
  flex-shrink: 0;
}

.newsImage img {
  width: 13rem;
  height: 8rem;
  object-fit: cover;
  border-radius: 0.5rem;
}
