.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
  max-width: 840px;
  margin: 0 auto;
  width: 100%;
  font-family: Google Sans, sans-serif;
}



.title {
  color: rgb(255, 255, 255);
  font-size: 1.875rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.leftControls {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.locationButton {
  background-color: #00687d;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 9px;
  font-size: 0.875rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.locationButton:hover {
  background-color: #015b6d;
}

.filterButton {
  background-color: #303134;
  color: #d1d5db;
  padding: 0.5rem;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filterButton:hover {
  background-color: #3c4043;
}

.locationInfo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #9ca3af;
  font-size: 0.875rem;
}

.infoLink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #9ca3af;
  font-size: 1rem;
}

.infoLink:hover {
  text-decoration: underline;
  color: #ffffff;
}


@media (max-width: 640px) {
  .title {
    font-size: 1.5rem;
    text-align: center;
  }

  .controls {
    flex-direction: column;
    gap: 0.75rem;
    align-items: flex-start;
  }

  .leftControls {
    width: 100%;
    justify-content: space-between;
  }

  .locationInfo {
    font-size: 0.75rem;
    justify-content: center;
    width: 100%;
  }

  .locationButton {
    flex: 1;
    text-align: center;
  }

  .filterButton {
    padding: 0.4rem;
  }

  .article-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
