.icon_wrapper {
  display: flex;
  gap: 10px;
  padding: 15px;
  align-items: center;
  background-color: #202124;
  border-radius: 15px;
}

.location {
  display: flex;
  justify-content: space-between;
}

.button {
  background-color: inherit;
  border: none;
  transition: transform 0.5s ease;
  cursor: pointer;
}

.button.rotate {
  transform: rotate(180deg);
}

.forecast {
  display: flex;
  gap: 30px;
  border-right: 1px solid #fff;
  padding-right: 10px;

  transform: translateX(-100%);
  opacity: 0;

  transition: transform 5s ease, opacity 5s ease;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.forecast.show {
  animation: slideIn 0.5s ease forwards;
}

.sunIconWrapper {
  width: 80px;
  height: 80px;
  cursor: pointer;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate {
  animation: fadeInRight 1s forwards;
}

.sunIconWrapper,
.forecast div > div {
  cursor: pointer;
}

.animate {
  animation: fadeInRight 1s forwards;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.weak_line {
  color: rgb(189, 193, 198);
  font-family: sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  padding: 0;
  margin: 0;
}

@media (max-width: 600px) {
  .icon_wrapper {
    display: none;
  }
}
