.cardSmall {
  background-color: transparent;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.163);
  margin-top: 16px;
  padding-top: 16px;
  max-width: 800px;
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;
  height: 168px;
}

.cardSmallLeftDiv {
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}

.cardSmallLeftDivActive {
  width: 75%;
}

.cardSmallLeftDiv:hover article {
  visibility: visible;
}

.cardSmallLeftDiv h2 {
  color: whitesmoke;
  font-size: 18px;
  font-weight: lighter;
  line-height: 1.4;
}
.cardSmallLeftDiv:hover h2 {
  text-decoration: underline;
}

.cardSmallRightDiv {
  width: 15%;
  height: 83%;
  border-radius: 12px;
  position: relative;
  bottom: 15px;
}

.cardSmallRightDivActive {
  width: 25%;
}

.cardSmallRightDiv img {
  width: 115px;
  height: 115px;
  border-radius: 12px;
}

.cardLeftDivIconDiv {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.cardLeftDivIconDiv img {
  width: 15px;
  height: 15px;
}
.cardLeftDivIconDiv span {
  font-size: 12px;
  font-weight: 600;
  color: #dfdfdf;
}

.cardLeftDivText {
  color: #eeeeee;
  font-size: 12px;
  font-weight: 500;
}

.smallWrapper {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  left: 0;
}

.smallWrapper p {
  font-size: 12px;
  font-weight: lighter;
  display: flex;
  align-items: center;
  color: #dfdfdf;
  gap: 3px;
  position: relative;
  bottom: 5px;
}

@media screen and (max-width: 1280px) {
  .cardSmall {
    height: 130px;
  }
  .cardSmallLeftDiv {
    width: 88%;
    position: static;
  }
  .cardSmallRightDiv {
    width: 12%;
  }
  .smallWrapper article {
    visibility: visible;
  }
  .cardSmallLeftDiv article {
    visibility: visible;
  }
  .cardSmallRightDiv img {
    width: 90px;
    height: 90px;
  }
}

@media screen and (max-width: 1000px) {
  .cardSmallLeftDiv h2 {
    color: whitesmoke;
    font-size: 15px;
    font-weight: lighter;
    line-height: 1.4;
  }

  .cardSmallLeftDiv {
    width: 80%;
  }

  .cardSmallRightDiv {
    width: 20%;
    display: flex;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 650px) {
  .cardSmallLeftDiv h2 {
    color: whitesmoke;
    font-size: 12px;
    font-weight: lighter;
    line-height: 1.4;
  }

  .cardSmallLeftDiv {
    width: 70%;
  }

  .cardSmallRightDiv {
    width: 30%;
  }
}
