.menuIcon {
  position: absolute;
  top: -6px;
  right: 0;
  padding: 1px 3px;
  border-radius: 50%;
  background-color: transparent;
  transition: 0.2s;
  cursor: pointer;
  visibility: hidden;
}

.menuIcon:hover {
  background-color: #222;
}

.menuWrapper {
  z-index: 1;
  display: none;
  padding: 5px 0;
  border-radius: 12px;
  background-color: rgb(51, 53, 54);
  box-shadow: 0px 2px 8px rgba(0,0,0,0.3);
  min-width: 150px;
}

.menuActive {
  display: block;
}

.menuItem {
  padding: 8px 75px 8px 13px;
  transition: 0.2s;
}

.menuItem:hover {
  background-color: rgb(60, 64, 67);
}

.menuItem:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 13px;
  font-size: 14px;
  color: rgb(189, 193, 198);
}

.menuItem:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 13px;
  font-size: 14px;
  color: rgb(189, 193, 198);
}

.menuItem a {
  display: flex;
  align-items: center;
  gap: 13px;
  font-size: 14px;
  color: rgb(189, 193, 198);
}

@media screen and (max-width: 1280px) {
  .menuIcon {
    top: auto;
    bottom: 0px;
  }
  .menuIconSmall {
    top: auto;
    bottom: -10px;
  }
}

@media screen and (max-width: 853px) {
  .menuItem {
    font-size: 10px;
  }
  .menuWrapper {
    width: 300px;
  }
}