.wrapper {
  max-width: 1120px;
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-inline: auto;
  color: white;
  font-family: sans-serif;
  padding-top: 30px;
}

.calendar_weather {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.whether {
  display: flex;
}

.weak {
  color: rgb(189, 193, 198);
  font-size: 14px;
}

.home-container {
  max-width: 740px;
  padding: 0 16px 16px 16px;
  background-color: #1f1f1f;
  border-radius: 16px;
  width: 100%;
}
.home {
  background-color: #1f1f1f;
  max-width: 740px;
  border-radius: 16px;
  width: 100%;
  padding: 0;
  margin: 0;
}
.title {
  padding: 16px 16px 0 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
  letter-spacing: 1.5px;
  font-weight: 500;
  color: #8bb8f8;
  cursor: pointer;
}
.hr {
  width: fit-content;
  margin: 20px auto 0 auto;
  border: 0.5px solid rgba(255, 255, 255, 0.1);
  width: 100%;
}
.home-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}
.home2 {
  background-color: #1f1f1f;
  border-radius: 16px;
  padding: 0;
  margin: 0;
  height: fit-content;
  max-width: 362px;
  width: 100%;
}
.home-container2 {
  padding: 0 16px 16px 16px;
  background-color: #1f1f1f;
  border-radius: 16px;
}
.title-pick {
  padding: 16px 16px 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  font-size: 20px;
  letter-spacing: 1.5px;
  font-weight: 500;
  color: #a596b8;
  cursor: pointer;
}
.for-title {
  font-size: 24px;
  margin: 20px 0 10px 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.for-in {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: #bdc1c6;
}
.for-in span {
  color: #bdc1c6;
  cursor: pointer;
}
.for-in span:hover {
  color: #8bb8f8;
}
.topic {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.customize-btn {
  padding: 8px 14px;
  border-radius: 16px;
  color: #73b7fa;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.customize-btn:hover {
  background-color: #2e2e2e;
}
.topic-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.topicTitle {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  padding: 16px 0 16px 0;
  text-transform: capitalize;
  border-bottom: 1px solid #5e5e5e;
  display: flex;
  align-items: center;
}

.topicCards {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #1f1f1f;
  max-width: 366px;
  padding: 0 16px;
  border-radius: 16px;
  width: 100%;
}

.beyondContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
  background-color: #1f1f1f;
  padding: 0 16px;
  border-radius: 16px;
  position: relative;
}
.beyondContent::after {
  content: "";
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 50%;
  width: 1px;
  background-color: #444;
  transform: translateX(-50%);
}
/* .topicCardsGrid {
  display: grid;
  gap: 16px; 
  
} */

@media (max-width: 600px) {
  .wrapper{
    padding: 0;
  }
  .calendar_weather {
    display: none;
  }
}

@media (max-width: 982px) {
  .home-container,
  .home-container2,
  .home,
  .home2,
  .topicCards,
  .beyondContent {
    width: 100%;
    box-sizing: border-box;
  }

  .home-content {
    flex-direction: column;
    gap: 16px;
  }

  .beyondContent {
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .beyondContent::after {
    display: none;
  }

  .title,
  .title-pick,
  .for-title {
    font-size: 18px;
    padding: 0 12px;
  }
  .for-in{
    padding: 0 12px;
    font-size: 12px;
  }

  .customize-btn {
    display: none;
  }
}

@media (max-width: 768px) {
  .home-container,
  .home-container2,
  .home,
  .home2,
  .topicCards,
  .beyondContent {
    max-width: 100% !important; 
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
  }

  .home-content {
    gap: 12px;
  }

  .beyondContent {
    gap: 12px;
  }
}

@media (max-width: 482px) {


  .home-content {
    gap: 8px;
  }

  .beyondContent {
    gap: 8px;
  }

  .title,
  .title-pick,
  .topicTitle,
  .for-title {
    font-size: 16px;

  }
}
