.wrapper {
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-inline: auto;
}

.calendar_whether {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.whether {
  display: flex;
  background-color: #1f1f1f;
}
