.categoryHeader {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding:  0  0 20px 0;
  max-width: 840px;
  margin: 0 auto;
  width: 100%;
}

.titleSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  font-size: 28px;
}

.buttons {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
}

.buttons::-webkit-scrollbar {
  display: none;
}
.iconWrapper {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.iconWrapper img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}


.button {
  flex-shrink: 0;
  padding: 6px 16px;
  border: 1px solid #aaa;
  border-radius: 8px;
  background-color: transparent;
  font-size: 14px;
  color: #c4c7c5;
  cursor: pointer;
  transition: all 0.2s;
  text-transform: capitalize;
  
}

.active {
  background-color: #35689e;
  color: white;
  border-color: #35689e;
}

.followShare {
  display: flex;
  gap: 20px;
}

.follow {
  background-color: transparent;
  color: #c4c7c5;
  border: 1px solid rgba(131, 131, 131, 0.5);
  padding: 10px 14px;
  border-radius: 22px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}
.follow-icon {
  font-size: 16px;
}
.following {
  background-color: #35689e;
  color: #9bb5e6;
  border: none;
}
.follow:hover {
  background-color: #3b3b3b;
}

.following:hover {
  background-color: #264b73;
}

.share {
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 14px;
  padding: 2px 12px;
  display: flex;
  align-items: center;
}
.share:hover{
  background-color: #3b3b3b;
}
